<p>
  <%= link_to 'Добавить знание', new_knowledge_path, class: "btn btn-success" %>
</p>

<div class="list">
<% @knowledges.each do |knowledge| %>
<div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
  <div class="knowledge-card <%= card_bg_color(knowledge.kind) %>">
  <div class="cover">
    <div class="icon">
      <%= card_icon(knowledge.kind) %>
    </div>
  </div>
  <div class="content">
    <div class="title">
      <h4><%= link_to truncate(knowledge.name, length: 45, separator: ' '), knowledge %></h4>
    </div>
    <p><%= truncate(knowledge.description, length: 100, separator: ' ') %></p>
  </div>
  </div>
</div>
<% end %>
</div>

<%= will_paginate @knowledges %>
