<div class="knowledge">
  <div class="cover">
    <img src="http://lorempixel.com/200/300/" alt="">
  </div>
  <h2><%= @knowledge.name %></h2>
  <% if @learned > 0 %>
  Уже <strong><%= @learned %></strong> человек изучили это.
  <% else %>
  Еще никто не изучил этот материал.
  <% end %>

  <% if can? :manage, Knowledge %>
    <small>
    <%= link_to 'Редактировать', rails_admin.edit_path('knowledge', @knowledge) %>
    </small>
    <br>
  <% end %>

  <strong>Сайт:</strong> <%= @knowledge.link %>
  <br>

  <div class="description">
    <%= @knowledge.description %>
  </div>
</div>
<hr>

<div class="opinions">
<% @knowledge.activities.each do |activity| %>

<div class="col-md-1">
  <%= link_to activity.user do %>
    <%= gravatar_for activity.user, size: 50 %>
  <% end %>
</div>

<div class="col-md-11">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><span class="user"><%= link_to activity.user.try(:login), user_path(activity.user_id.to_i) %></span>:
        <%= nice_russian_date(activity.created_at) %>
      </h4>
    </div>
    <div class="panel-body comment">
      <%= activity.comment %>
    </div>
  </div>
</div>

<% end %>
</div>
