<% if current_user %>
<%= link_to 'Добавить активность', new_activity_path, class: "btn btn-primary center-block" %>

<% @activities_keys.each do |date| %>
  <h3><%= nice_russian_date date %></h3>
  <% Activity.where(created_at: date.beginning_of_day..date.end_of_day).each do |activity| %>
    <div class="activity-day clearfix">
        <div class="activity-point">
        <div class="col-md-1">
          <%= link_to activity.user do %>
            <%= gravatar_for activity.user, size: 50 %>
          <% end %>
        </div>
        <div class="col-md-11">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"><span class="user"><%= link_to activity.user.try(:login), user_path(activity.user_id.to_i) %></span>:
                <%= link_to activity.name, activity %>
              </h4>
            </div>
            <div class="panel-body comment">
              <%= truncate(activity.comment, length: 120, separator: ' ', omission: '...') %>
            </div>
          </div>
        </div>
        </div>
    </div>
  <% end %>
  <hr>
<% end %>

<%= will_paginate @activities_keys %>
<% end %>
