<div class="activity">
  <div class="cover">
    <img src="http://lorempixel.com/200/300/" alt="">
  </div>
  <h2><%= @activity.name %>
  <% if can? :update, Activity %>
    <small>
    <%= link_to edit_activity_path(@activity) do %>
      <i class="fa fa-edit"></i>
    <% end %>
    </small>
  <% end %>
  <% if can? :update, Activity %>
    <small>
    <%= link_to @activity, method: :delete, data: {confirm: "Вы уверены?"} do %>
      <i class="fa fa-remove"></i>
    <% end %>
    </small>
  <% end %>
  </h2>
  <div class="local-link">
  <% if @activity.knowledge %>
    Ссылка на сайте: <%= link_to @activity.knowledge.name, @activity.knowledge %>
  <% end %>
  </div>

<div class="opinions">
  <div class="media">
    <div class="media-body">
          <small><%= nice_russian_date(@activity.created_at) %></small>
      <p><%= @activity.comment %></p>
    </div>
  </div>

</div>

</div>
<hr>

