<nav class="mui" role="navigation">
  <div class="container">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag 'logo.png' %>
      Learn Track
    <% end %>
  </div>
    <ul class="navigation">
      <li><%= link_to "Знания", knowledges_path %></li>
      <li><%= link_to 'Активность', activities_path %></li>
    </ul>
    <ul class="navigation navbar-right">
      <% unless current_user %>
        <li><%= link_to new_user_session_path, class: 'btn btn-primary mui-blue' do %>
        <span class="glyphicon glyphicon-user"></span>
        Войти
        <% end %>
        </li>
        <li><%= link_to 'Регистрация', new_user_registration_path, class: 'btn btn-primary mui-blue' %></li>
      <% else %>
        <li class="dropdown">
        <div class="btn-group">
          <button type="button" class="btn btn-default mui-blue"><%= gravatar_for current_user, size: 15 %><%= link_to current_user.login, current_user %></button>
          <button type="button" class="btn btn-default mui-blue dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Показать меню</span>
          </button>
          <ul class="dropdown-menu mui-dropdown" role="menu">
            <li class="divider"></li>
            <li><%= link_to "Настройки", edit_user_registration_path %></li>
            <li><%= link_to "Выход", destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
