<!DOCTYPE html>
<html>
<head>
  <title>LearnTrack</title>
  <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<%= render "layouts/header" %>
<%= render partial: "shared/flash_messages", flash: flash %>

  <%= yield %>
</div>

</body>
</html>
