<!DOCTYPE html>
<html>
<head>
  <title>LearnTrack</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,300,300italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>
<div class="container">
<%= render partial: "shared/flash_messages", flash: flash %>
<div class="col-xl-9 col-md-9 col-sm-8 col-xs-12">
  <%= yield %>
</div>
<div class="col-xl-3 col-md-3 col-sm-4 col-xs-12">
  <%= render 'layouts/sidebar' %>
</div>

</div>

</body>
</html>
